<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img
 src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/alx-courses/aice/assets/Content_page_banner_blue_dots.png"
 alt="ALX Content Header"
 class="full-width-image"
/>
</div>

# SQL numeric functions and aggregations

In this exercise, we will apply SQL numeric functions and aggregations to query a few tables in our Northwind database. Ensure that you haveÂ downloaded the database file, Northwind.db.

## Learning objectives

By the end of this train, you should:
- Be able to apply AVG, SUM, MAX, MIN, and COUNT functions.
- Know how to aggregate data at different levels using the GROUP BY clause. 
- Understand how to  order and limit the results.

First, let's load our sample database:

In [2]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [3]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind_db.db

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Northwind ERD</em>
</div>

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

In [4]:
%%sql
SELECT * FROM OrderDetails
LIMIT 5;

 * sqlite:///Northwind_db.db
Done.

[(10248, 11, 14, 12, 0.0),
 (10248, 42, 9.8, 10, 0.0),
 (10248, 72, 34.8, 5, 0.0),
 (10249, 14, 18.6, 9, 0.0),
 (10249, 51, 42.4, 40, 0.0)]

### Exercise 1

Display the average unit price of products in the 'Products' table.

In [5]:
%%sql

SELECT 
    AVG(UnitPrice) 
FROM 
    Products;

 * sqlite:///Northwind_db.db
Done.

[(28.866363636363637,)]

### Exercise 2


Show the total quantity of products sold for each ProductID. Use the 'OrderDetails' table.

In [6]:
%%sql
SELECT 

    SUM(quantity) as sum_quantity
FROM 
    OrderDetails
GROUP BY 
    ProductId
LIMIT 5;

 * sqlite:///Northwind_db.db
Done.

[(828,), (1057,), (328,), (453,), (298,)]

### Exercise 3


Find the maximum, minimum, and average freight from the 'Orders' table.

In [21]:
%%sql

SELECT 
    MAX(Freight) AS max_freight,
    MIN(Freight) AS min_freight,
    AVG(Freight) AS avg_freight
FROM 
    Orders;

   sqlite:///Northwind.db
 * sqlite:///Northwind_db.db
Done.

[(1007.64, 0.02, 78.24420481927712)]

### Exercise 4

How many unique customers have made orders? Use the 'Orders' table.

In [24]:
%%sql

SELECT 
    COUNT(DISTINCT CustomerID) AS number_of_customer
FROM 
    Orders;

   sqlite:///Northwind.db
 * sqlite:///Northwind_db.db
Done.

[(89,)]

### Exercise 5

What is the total price for each order? You need to multiply the unit price by the quantity and subtract the discount for each order detail, then sum all the order details for each order. Use the 'OrderDetails' table.

In [28]:
%%sql

SELECT 
    OrderId,
    SUM((UnitPrice * Quantity) - (1 - Discount)) AS total_price
FROM 
    OrderDetails
GROUP BY 
        OrderId
LIMIT 10;

   sqlite:///Northwind.db
 * sqlite:///Northwind_db.db
Done.

[(10248, 437.0),
 (10249, 1861.4),
 (10250, 1810.0),
 (10251, 667.8),
 (10252, 3727.0),
 (10253, 1441.8000000000002),
 (10254, 622.2),
 (10255, 2486.5),
 (10256, 515.8),
 (10257, 1116.9)]

### Challenge question

What are the 5 largest orders processed? (Hint: Use the 'OrderDetails' table.)

In [29]:
%%sql

SELECT 
    OrderId,
    SUM((UnitPrice * Quantity) - (1 - Discount)) AS total_price
FROM 
    OrderDetails
GROUP BY 
        OrderId
ORDER BY 
    total_price DESC
LIMIT 5;

   sqlite:///Northwind.db
 * sqlite:///Northwind_db.db
Done.

[(10865, 17248.0),
 (11030, 16317.900000000001),
 (10981, 15809.0),
 (10372, 12277.2),
 (10424, 11490.2)]